.header {
  display: flex;
  justify-content: space-around;
  align-items: center;
  min-height: 80px;
  margin-bottom: 50px;
  background: #141e30;
}

.loader {
  position: fixed;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100vw;
}
