.label {
  display: block;
  width: 400px;
  margin: 20px auto 0;
  font-family: 'Roboto', sans-serif;
  text-transform: uppercase;
  text-align: center;
  font-size: 18px;
  font-weight: bold;
  color: rgb(250, 200, 35);
}

.input {
  display: block;
  width: 400px;
  line-height: 40px;
  padding: 0 0 0 15px;
  margin: 30px auto 0;
  font-family: 'Roboto', sans-serif;

  box-shadow: 4px 4px 8px 0px rgba(34, 60, 80, 0.2);
  border-width: 0;
  border-radius: 20px;

  color: #fff;
  background-color: #141e30;
  cursor: pointer;
}

.input:hover {
  box-shadow: 4px 4px 8px 0px #03e9f4;
}
