.list {
  list-style: none;
  max-width: 400px;
  padding: 40px;
  margin: 50px auto;
}

.btn {
  display: inline-block;
  color: rgb(86, 173, 173);
  border-width: 0;
  line-height: 40px;
  border-radius: 20px;
  font-size: 14px;
  font-weight: bold;
  background: #141e30;
  cursor: pointer;
}

.btn:hover {
  box-shadow: 4px 4px 8px 0px #03e9f4;
}

.item {
  outline: #141e30 solid 5px;
  display: flex;
  align-items: center;
  justify-content: space-around;
  border-radius: 20px;
  margin-bottom: 20px;
  padding: 5px;
}

.name {
  font-family: sans-serif;

  color: rgb(86, 173, 173);
  font-size: 16px;
  font-weight: bold;
}
